{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}
      <span class="project-title">
        <a href="https://www.dbpia.co.kr/Journal/articleDetail?nodeId=NODE09260922" target="_blank">Topic Analysis</a>
      </span>

  {% for project in projects.assignments %}
    <div class="item">

      <span class="project-title">
        {% if project.link %}
        <a href="https://github.com/choiHenry/{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}
      <div class="item">

    </div><!--//item-->

</section><!--//section-->
{% endif %}
